

#pllineepano0 {
  ::case {
  	line-width: 8;
    line-join: round;
    line-cap: round;
  	[layer = 'po1993'] { line-color:#394d9d; }
  	[layer = 'bosco1987'] { line-color:#016a38; }
  	[layer = 'crea1971'] { line-color:#e06410; }
  	[layer = 'miniera1989'] { line-color:#ba2030; }
  	[layer = 'sud1997'] {line-color:#cf9c2b; }
  	[layer = 'vigne1969'] { line-color:#804195; }
  }
  ::fill {
    line-width: 1.5;
    line-color:#fff;
    line-dasharray: 5, 2;
    line-join: round;
    line-cap: round;
  }
  text-name: [idm];
  text-face-name: 'Droid Sans Bold';
  text-fill: #fff;
  text-size: 20;
  text-placement: line;
  text-halo-radius: 3;
  	[layer = 'po1993'] { text-halo-fill:#394d9d }
  	[layer = 'bosco1987'] { text-halo-fill:#016a38;}
  	[layer = 'crea1971'] { text-halo-fill:#e06410; }
  	[layer = 'miniera1989'] { text-halo-fill:#ba2030; }
  	[layer = 'sud1997'] { text-halo-fill:#cf9c2b; }
  	[layer = 'vigne1969'] { text-halo-fill:#804195; }
}

#pllineepano1vedute {
  [zoom >= 15][zoom <=22] {
  	line-width:18;
  	line-color:#168;
  	line-dasharray: 4, 3;
  	line-join: round;
    line-opacity: 0.75;
  }
}



#plpercorsicai {
  [zoom <= 15] {
  line-width:1;
  line-color:#000;
  //line-pattern-file: url(http://www.cityplanner.it/supply/icon_web/mapbox-maki-51d4f10/renders/pitch-24@2x.png);
   }
  [zoom >= 15][zoom <=22] {
  line-width:3;
  line-color:#000;
  //line-pattern-file: url(http://www.cityplanner.it/supply/icon_web/mapbox-maki-51d4f10/renders/pitch-24@2x.png);
   }
}


#ptpercorsicai {
    [zoom >= 16][zoom <=22] {
  	  //backpacker by Alexander Wiefel from the Noun Project
  	marker-spacing:50000;
  	marker-ignore-placement:false;
  	marker-max-error:1000;
  	marker-file: url(http://www.cityplanner.it/supply/icon_web/set2/noun_55380_cc_mod.svg);
  }
}
